{% extends 'home.html' %}

{% block title %} | About Me {% endblock %}

{% block body %}
<section class="about-me">
    <p class="desc-about">I am a Computer Science Education student with an interest in web development and education. 
        As a Computer Science Education student, I enjoy the challenges that I will face which require 
        me to always update my knowledge in the world of technology and education. Armed with the basics 
        of programming and technology that have been obtained during lectures, I hope to become a highly 
        dedicated educator who can provide good knowledge to students in the future.</p>
</section>
{% endblock %}