{% extends 'home.html' %}

{% block title %} | My Education {% endblock %}

{% block body %}
<section class="my-edu">
    <div class="desc-edu">
        <h2 class="title-edu">My Education</h2>
        <hr>
        <div class="school">
            <img src="../../static/img/300px-Logo_Almamater_UPI.svg.png" alt="UPI">
            <div class="detail-edu">
                <h3>Universitas Pendidikan Indonesia</h3>
                <p>Bachelor of Computer Science Education</p>
                <p>2023 - Present</p>
            </div>
        </div>
        <div class="school">
            <img src="../../static/img/logo sman 2 kota serang.png" alt="SMAN 2 Kota Serang">
            <div class="detail-edu">
                <h3>SMAN 2 Kota Serang</h3>
                <p>Science</p>
                <p>2020 - 2023</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}