{% extends 'home.html' %}

{% block title %} | My Experiences {% endblock %}

{% block body %}
<section class="my-exp">
    <div class="desc-exp">
        <h2 class="title-exp">My Experiences</h2>
        <hr>
        <div class="name">
            <img src="../../static/img/logo sman 2 kota serang.png" alt="SMAN 2 Kota Serang">
            <div class="detail-exp">
                <h3>Informatics Olympiad Team Mentor</h3>
                <p>SMAN 2 Kota Serang</p>
                <p>August 2024 - Present</p>
            </div>
        </div>
        <div class="name">
            <img src="../../static/img/Screenshot_20241027_022310_WhatsApp.jpg" alt="Pelatek 2024">
            <div class="detail-exp">
                <h3>Technology Training Participants</h3>
                <p>KEMAKOM - Universitas Pendidikan Indonesia</p>
                <p>Juni 2024</p>
            </div>
        </div>
        <div class="name">
            <img src="../../static/img/image (28).png" alt="SMAN 2 Kota Serang">
            <div class="detail-exp">
                <h3>Treasurer of Majelis Perwakilan Kelas</h3>
                <p>SMAN 2 Kota Serang</p>
                <p>2021 - 2022</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}