{% extends 'home.html' %}

{% block title %} | My Experiences {% endblock %}

{% block body %}
<section class="last-page">
    <div class="desc">
        <h2 class="title-project">My Project</h2>
        <hr>
        <div class="items">
            <div class="detail-project">
                <ul class="project-items">
                    <li class="project-list">
                        <h3>Technology Training: Web Programming Basics</h3>
                        <p>1st place Product Landing Page Project</p>
                    </li>
                    <li class="project-list">
                        <h3>Programming Algorithm Project</h3>
                        <p>Final Project of Programming Algorithm Course</p>
                    </li>
                    <li class="project-list">
                        <h3>Music Project</h3>
                        <p>Art and Culture final project</p>
                    </li>
                </ul>
            </div>
        </div>
        <h2 class="title-skill">My Skill</h2>
        <hr>
        <div class="items">
            <div class="detail-skill">
                <ul class="skill-items">
                    <li class="skill-list">Mastering basic Algorithms and Programming</li>
                    <li class="skill-list">Mastering C/C++ programming language</li>
                    <li class="skill-list">Proficient in Microsoft Office and other Education Support Software</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}